<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">基本信息</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;项目介绍</h3>
        <ul>
            <li>空气质量监测平台能快速地了解某地区、某城市的环境空气质量现状。</li>
            <li>该平台可以使环境空气质量状况透明化，促进环境空气质量的改善。</li>
            <li>该平台可实现监测环境空气中的二氧化硫、二氧化氮、臭氧和可吸入颗粒物的实时变化情况。</li>
            <li>该平台能及时、准确地反映区域环境空气质量状况及变化规律，为环保部门的环境决策、环境管理提供详实的数据资料和科学依据。</li>
        </ul>
        

        <h3>&nbsp;&nbsp;&nbsp;获取帮助</h3>
        <ul>
           
            <li>官方网站：<a href="http://www.sitankj.com" target="_blank">http://www.sitankj.com</a></li>
            <li>如需关注项目最新动态，请Watch、Star项目，同时也是对项目最好的支持</li>
        </ul>

        <h3>&nbsp;&nbsp;&nbsp;友情链接</h3>
        <ul>
            <li>中国环保部：<a href="http://www.zhb.gov.cn" target="_blank">http://www.zhb.gov.cn</a></li>
            <li>环境监测总站：<a href="http://www.cnemc.cn" target="_blank">http://www.cnemc.cn</a></li>
            <li>空气质量分析平台：<a href="https://www.aqistudy.cn" target="_blank">https://www.aqistudy.cn</a></li>
            <li>中国天气网：<a href="http://www.weather.com.cn" target="_blank">http://www.weather.com.cn</a></li>
        </ul>
    </div>
</div>
</body>
</html>